*{
    padding: 5px;
}
/* this is the header */
header h1{
    color:black; 
    background-color: forestgreen;
    padding: 100px;  
}
header nav {
    display: flex;
    justify-content: right;
}

header nav li{
    color: blue;
    background-color: bisque;
    display: inline;
    position: relative;
}

/* this is where each sections goes */
main {
    display: flex;
    width: auto;
    height: 25%;
    flex-wrap:wrap;
    background: linear-gradient(slateblue,saddlebrown);   
}
.big-card{
    display: flex;
    justify-content: center;
    height: 450px;
    width: 900px;
    border: solid black;
    padding: 20px;
    margin: 20px;
}
.small-card{
    display: flex;
    justify-content: center;
    height: 200px;
    width:250px;
    border: solid pink;
    padding: 20px;
    margin: 20px;
}
main h2 { 
    color: black;
    
    
}
main h3 {
    color: pink;
}
main p {
    border: solid;
    margin: 0px;
    margin-bottom: 0px;
}
/* main section {
    width: 450px;
    height: 450px;
    flex-direction: column;
    color: black; 
    font-size: 25px;
    text-align: center;
    border-radius: 25px;
    margin: 20px;
    border: dotted;
    
}
main h2 { 
    color: black;
    
    
}
main h3 {
    color: pink;
    border: indigo;
}
main p {
    border: solid;
    margin: 25px;
    margin-bottom: 150px;
} */


@media screen and (max-width: 900px) {
    section,
    div {
      flex-direction: column;
      background-color: slateblue;
    }
  }
@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
      background-color: saddlebrown;
    }
  }